<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Recipe Management System</h1>

<div id="add">
    <input type="text" id="recipeName" placeholder="Recipe Name">
    <input type="text" id="recipeIngredients" placeholder="Ingredients">
    <button onclick="addRecipe()">Add Recipe</button>
</div>

<h2>All Recipes:</h2>
<ul>
    <% recipes.forEach(recipe => { %>
        <li><b><%= recipe.name %></b>: <%= recipe.ingredients %></li>
    <% }) %>
</ul>

<script src="/js/app.js"></script>
</body>
</html>
